<nav class="navbar navbar-dark bg-primary">
  <div class="container-md">
    <a class="navbar-brand">National Scholarship Portal</a>
    <a class="navbar-brand">Government of India</a>
  </div>
</nav>
<div class="wrapper">
  <div class="shadow p-3 mb-5 bg-body rounded">
      <ul class="nav nav-pills">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" >HOME</a>
            </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/contact">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/about">CONTACT US</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/studentregistration">REGISTRATION</a>
            </li>  
      </ul>
  </div>
</div>

<div>
<router-outlet></router-outlet>
</div>